<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}" with:title="'Create a new Tour'">
<th:block layout:fragment="content">

    <div class="bradcam_area bradcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Create new tour</h3>
                        <p>Please fill out all necessary information</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>
